@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Rowdies', sans-serif; */
}

/* Tùy chỉnh màu sắc cho thanh cuộn */
::-webkit-scrollbar {
    width: 12px; /* Đặt độ rộng của thanh cuộn */
}

/* Tùy chỉnh màu nền của thanh cuộn */
::-webkit-scrollbar-track {
    background-color: #24262b;
}

/* Tùy chỉnh màu của phần trượt trong thanh cuộn */
::-webkit-scrollbar-thumb {
    background-color: #505050;
}

/* Tùy chỉnh màu của phần nền khi di chuột vào thanh cuộn */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Header*/

.navbar navbar-expand-lg navbar-light bg-light {
    font-weight: bold;
}

#menu {
    margin-top: 38px;
    height: 61px;
    padding: 0 50px 0 50px;
    background-image: linear-gradient(to right, #6246ea, #b00914);
    position: fixed;
    z-index: 3;
    font-weight: bold;
}

#menu a{
    color: ghostwhite;
}

.navbar-light .navbar-nav .nav-link {
    color: ghostwhite;
    font-size: 20px;
    margin-right: 18px;
    margin-bottom: 8px;
    transform: translateY(-16%);
    padding-top: 42px;
    font-weight: bold;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 5px;
  background-color: #ffd600;
  transition: width 0.3s ease-in-out;
  width: 0; /* Ban đầu không hiển thị */
}

.navbar-nav .nav-link:hover::before {
  width: 100%; /* Hiển thị khi di chuột vào */
}

.navbar-nav .nav-item {
  text-align: center;
}

.navbar-toggler {
    background-color: ghostwhite;
    border: 2px solid transparent;
    margin-left: 25%;
}

/* Đổi màu nền của dropdown list */
.navbar .dropdown-menu {
    background-color: #d1d1e9;
}

.navbar .dropdown-menu .dropdown-item {
    color: #d1d1e9;
}
/* Đổi màu nền của các mục trong dropdown khi di chuột vào */
.navbar .dropdown-menu a:hover {
    background-color: #ff952e; /* Đổi thành màu bạn muốn */
}

.form-control {
    width: auto;
}

.navbar-collapse .btn {
    border-color: ghostwhite;
    background-color: ghostwhite;
    border-width: 3px;
    color: #2b2c34;
    font-weight: bold;
}

.navbar-collapse .btn:hover {
    border-color: #6246ea;
    background-color: #6246ea;
    color: #ffffff;
}


@media (max-width: 992px) {
    .navbar-collapse {
        background-color: #a7a9be;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        transform: translateY(100%);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .navbar-collapse.show {
        transform: translateZ(0);
        transition: transform 0.3s ease-in-out;
    }
}

h1{
    color: ghostwhite;
    padding-top: 20px;
    margin-top: 80px;
}

/* Container */
body {
    background-color: #d1d1e9;
    background-image: url("/images/bg.jpg"); /* CHổ này để đặt cái ảnh*/
    align-items: center;
    justify-content: center;
}

.container {
    width: 90vw;
    height: 90vh;
    background-color: rgba(17,25,40,0.75);
    backdrop-filter: blur(20px) saturate(180%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 74px; /* Thêm khoảng cách từ đỉnh */
}


/* Footer */
.Footer {
    padding-top: 20px;
    background-color: #24262b;
    max-width: auto;
    margin: auto;
    margin-top: 40px;
}

.Footer ul {
    list-style: none;
}

.Footer h4 {
    margin-left: 32px;
    margin-bottom: 30px;
    font-size: 20px;
    box-sizing: border-box;
    text-transform: capitalize;
    color: ghostwhite;
    position: relative;
}

.Footer h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #dc0914;
    height: 5px;
    box-sizing: border-box;
    width: 100px;
}

.Footer li a {
    text-decoration: none;
    color: #808080;
}

.Footer ul li:not(:last-child) {
    margin-bottom: 20px;
}

.Footer ul li a {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    display: block;
    transition: all 0.3s ease;
}

.Footer ul li a:hover {
    color: ghostwhite;
    padding-left: 10px;
}

#footer p {
    color: ghostwhite;
    font-size: 18px;
    margin-top: 10px;
}

.page-content{
    color: #ffffff;
    margin-top: 80px;
}

/* DangNhap */

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}


@media (max-width: 720px) {
    .h-custom {
        height: 100%;
    }
}

.dangnhap {
    width: 90vw;
    height: 90vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 74px; /* Thêm khoảng cách từ đỉnh */
}

.form-control.form-control-lg {
    width: 100%;
    border-radius: 10px;
}

.text-body {
    color: ghostwhite !important;
}

