@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Rowdies', sans-serif; */
}

/* Tùy chỉnh màu sắc cho thanh cuộn */
::-webkit-scrollbar {
    width: 12px; /* Đặt độ rộng của thanh cuộn */
}

/* Tùy chỉnh màu nền của thanh cuộn */
::-webkit-scrollbar-track {
    background-color: #24262b;
}

/* Tùy chỉnh màu của phần trượt trong thanh cuộn */
::-webkit-scrollbar-thumb {
    background-color: #505050;
}

/* Tùy chỉnh màu của phần nền khi di chuột vào thanh cuộn */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Header*/

.logo {
    margin-left: 20px;
    max-width: 50px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar navbar-expand-lg navbar-light bg-light {
    font-weight: bold;
}

#menu {
    margin-top: 38px;
    height: 61px;
    padding: 0 50px 0 50px;
    background-image: linear-gradient(to right, #1da1f5, #8039da);
    position: fixed;
    z-index: 3;
    font-weight: bold;
}

#menu a{
    color: ghostwhite;
}

.navbar-light .navbar-nav .nav-link {
    color: ghostwhite;
    font-size: 20px;
    margin-right: 18px;
    margin-bottom: 8px;
    transform: translateY(-16%);
    padding-top: 42px;
    font-weight: bold;
}

.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 5px;
    background-color: #1da1f5;
    transition: width 0.3s ease-in-out;
    width: 0; /* Ban đầu không hiển thị */
}

.navbar-nav .nav-link:hover::before {
  width: 100%; /* Hiển thị khi di chuột vào */
}

.navbar-nav .nav-item {
  text-align: center;
}

.navbar-toggler {
    background-color: ghostwhite;
    border: 2px solid transparent;
    margin-left: 25%;
}

/* Đổi màu nền của dropdown list */
.navbar .dropdown-menu {
    background-color: #d1d1e9;
}

.navbar .dropdown-menu .dropdown-item {
    color: #d1d1e9;
}
/* Đổi màu nền của các mục trong dropdown khi di chuột vào */
.navbar .dropdown-menu a:hover {
    background-color: #ff952e; /* Đổi thành màu bạn muốn */
}

.form-control {
    width: auto;
}

.navbar-collapse .btn {
    border-color: ghostwhite;
    background-color: ghostwhite;
    border-width: 3px;
    color: #2b2c34;
    font-weight: bold;
}

.navbar-collapse .btn:hover {
    border-color: #6246ea;
    background-color: #6246ea;
    color: #ffffff;
}


@media (max-width: 992px) {
    .navbar-collapse {
        background-color: #a7a9be;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        transform: translateY(100%);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .navbar-collapse.show {
        transform: translateZ(0);
        transition: transform 0.3s ease-in-out;
    }
}

h1 {
    color: ghostwhite;
    padding-top: 20px;
    margin-top: 80px;
}

h3 {
    color: ghostwhite;
}

/* Container */
body {
    background-color: #d1d1e9;
    /*background-image: url("/images/bg.jpg");*/ /* CHổ này để đặt cái ảnh*/
    background-image: linear-gradient(to right, #1da1f5, #8039da);
    align-items: center;
    justify-content: center;
}

.container {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(17,25,45,0.40);
    backdrop-filter: blur(10px) saturate(180%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px 60px 0 60px;
    padding: 50px;
}


/* Footer */
.Footer {
    padding-top: 20px;
    background-color: #24262b;
    max-width: auto;
    margin: auto;
    margin-top: 50px;
}

.Footer ul {
    list-style: none;
}

.Footer h4 {
    margin-left: 32px;
    margin-bottom: 30px;
    font-size: 20px;
    box-sizing: border-box;
    text-transform: capitalize;
    color: ghostwhite;
    position: relative;
}

.Footer h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-image: linear-gradient(to right, #1da1f5, #8039da);
    height: 5px;
    box-sizing: border-box;
    width: 100px;
}

.Footer li a {
    text-decoration: none;
    color: #808080;
}

.Footer ul li:not(:last-child) {
    margin-bottom: 20px;
}

.Footer ul li a {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    display: block;
    transition: all 0.3s ease;
}

.Footer ul li a:hover {
    color: ghostwhite;
    padding-left: 10px;
}

#footer p {
    color: ghostwhite;
    font-size: 18px;
    margin-top: 10px;
}

.page-content{
    color: #ffffff;
    margin-top: 80px;
}

/* DangNhap */

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}


@media (max-width: 720px) {
    .h-custom {
        height: 100%;
    }
}

.dangnhap {
    width: 90vw;
    height: 90vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 74px; /* Thêm khoảng cách từ đỉnh */
}

.form-control.form-control-lg {
    width: 100%;
    border-radius: 10px;
}

.text-body {
    color: ghostwhite !important;
}

/* Trang Chủ */

.styled-heading {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #ff0000; /* Chữ đỏ */
    text-shadow: 2px 2px #fafafa, /* Viền trắng */
    -2px -2px #fafafa, 2px -2px #fafafa, -2px 2px #fafafa, 0px 0px 3px #000;
}

.styled-subheading {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff000; /* Chữ vàng */
    text-shadow: 2px 2px #ff0000, /* Viền đỏ */
    -2px -2px #ff0000, 2px -2px #ff0000, -2px 2px #ff0000, 0px 0px 3px #000;
}

.checkerboard {
    display: grid;
    grid-template-columns: repeat(20, 1fr); /* Xóa cái này thì có hiệu ứng khác */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
}

.checkerboard div {
    background-color: rgba(255, 255, 255, 0.3);
    animation: fadeout 1.2s ease-in-out forwards;
}

@keyframes fadeout {
    from {
        transform: rotateY(0deg);
        opacity: 1;
    }

    to {
        transform: rotateY(90deg);
        opacity: 0;
    }
}

.carousel-item {
    position: relative;
}

.carousel-item img {
    border-radius: 20px;
} 

/* Môn học */
.dangkymon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.xulydangkymonhoc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.xulydangkymonhoc button {
    margin: 10px;
    font-weight: bold;
    padding: 10px;
    border-width: 3px;
}

/* Trang Thông tin Tài khoản */

.thongtinsv p,
.thongtinsv h1{
    font-weight: bold;
}

.thongtinsv h1 {

}

.thongtintk h1 {
    font-weight: bold;
}

.thongtintk p {
    font-weight: bold;
    letter-spacing: 5px;
}

.thongtintk button {
    max-width: 100%;
    width: 300px;
    height: 6vh;
    letter-spacing: 3px;
    font-weight: bold;
    background: linear-gradient(to right, #1da1f5, #8039da);
    background-size: 200% 100%; 
    background-position: left bottom; 
    transition: background-position 1s ease; 
    outline: none;
}

.thongtintk button:hover {
    background-position: right bottom; /* Vị trí khi hover */
}

/* Trang Giới thiệu */
#about_us h1,
#about_us p {
    color: ghostwhite;
}

/* hình */
.Gioithieu .image-container {
    position: relative;
}

/* phần nền mờ */
/*.Gioithieu #page1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);*/ /* Độ mờ của lớp chồng (80% mờ) */
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.Gioithieu #page2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);*/ /* Độ mờ của lớp chồng (80% mờ) */
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.Gioithieu #page3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);*/ /* Độ mờ của lớp chồng (80% mờ) */
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.Gioithieu .overlay-text {
    color: ghostwhite;
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 762px) {
    .Gioithieu .overlay-text {
        font-size: 8px;
    }
}*/
