@{
    ViewData["Title"] = "Quản Lý Giảng Viên";
  
        
    }
    
    <div class="Hang">
      <div class="headql">
        <table class="tb">
            <tr>
                <th>Mã giảng viên</th>
                <th>Tên giảng viên</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Email</th>
                <th>Học hàm</th>
                <th>Mật khẩu</th>
                <th>Roleaccount</th>

            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </table>

      </div>
      <div class="headql1">
          <div class="infor">
              <p>Mã giảng viên</p>
              <input type="type" name="" value="" />
              <p>Tên giảng viên</p>
              <input type="type" name="" value="" />
              <p>Ngày sinh</p>
              <input type="type" name="" value="" />
              <p>Giới tính</p>
              <input type="type" name="" value="" />
            <div class="bu">
                <button class="btn btn-info">Thêm</button>
                <button class="btn btn-info">Sửa</button>
            </div>
          </div>
          
        
          <div class="infor">
            <p>Email</p>
            <input type="type" name="" value="" />
            <p>Học hàm</p>
            <input type="type" name="" value="" />
            <p>Mật khẩu</p>
            <input type="type" name="" value="" />
            <p>Roleaccount</p>
            <input type="type" name="" value="" />
            <div class="bu">
                <button class="btn btn-info">Xóa</button>
                <button class="btn btn-info">Lưu</button>
            </div>
          </div>
        

      </div>
    

    </div>

    
       


  <link href="~/css/site.css"/>
 



