@{
    ViewData["Title"] = "Quản Lý Giảng Viên";
}
<div class="content text-center bg-primary">
    <h1>QUẢN LÝ TÀI KHOẢN GIẢNG VIÊN</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


