@{
    ViewData["Title"] = "Quản Lý Giáo Vụ";
}
<div class="Hang">
    <div class="headql">
        <table class="tb">
            <tr>
                <th>Mã giáo vụ</th>
                <th>Tên giáo vụ</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Email</th>
                <th>Mật khẩu</th>

            </tr>

        </table>

    </div>
    <div class="headql1">
        <div class="infor">
            <p>Mã giáo vụ</p>
            <input type="type" name="" value="" />
            <p>Tên giáo vụ</p>
            <input type="type" name="" value="" />
            <p>Ngày sinh</p>
            <input type="type" name="" value="" />
            <div class="bu">
                <button class="btn btn-info">Thêm</button>
                <button class="btn btn-info">Sửa</button>
            </div>
        </div>


        <div class="infor">
            <p>Giới tính</p>
            <input type="type" name="" value="" />
            <p>Email</p>
            <input type="type" name="" value="" />
            <p>Mật khẩu</p>
            <input type="type" name="" value="" />
            <div class="bu">
                <button class="btn btn-info">Xóa</button>
                <button class="btn btn-info">Lưu</button>
            </div>
        </div>


    </div>


</div>





<link href="~/css/site.css" />