@{
    ViewData["Title"] = "Quản Lý Giáo Vụ";
}
<div class="content text-cente bg-danger">
    <h1>QUẢN LÝ TÀI KHOẢN GIÁO VỤ</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<!-- Nội dung quản lý giáo vụ -->
