@{
    ViewData["Title"] = "Thông tin tài khoản";
}

<div class="page-content">
    <h1>Thông tin tài khoản</h1>
    <p>Diễn xiếc đê</p>
    <p>Email đã lưu: @ViewBag.Email</p>
    <form asp-controller="TaiKhoan" asp-action="DangXuat" method="post">
        <button type="submit" class="btn btn-primary">Đăng xuất</button>
    </form>
</div>
