@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model QuanLyDangKyHocPhanSV.Models.GiangVien

@{
    ViewData["Title"] = "EditGiangVien";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Sửa thông tin giảng viên</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="EditGiangVien">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaGv" />
            <div class="form-group">
                <label asp-for="TenGv" class="control-label">Tên giảng viên</label>
                <input asp-for="TenGv" class="form-control" />
                <span asp-validation-for="TenGv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label">Ngày sinh</label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label">Giới tính</label>
                <select asp-for="GioiTinh" class="form-control">
                    <option value="1">Nam</option>
                    <option value="0">Nữ</option>
                </select>
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HocHam" class="control-label">Học hàm</label>
                <input asp-for="HocHam" class="form-control" />
                <span asp-validation-for="HocHam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhau" class="control-label">Mật khẩu</label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="RoleAccount" class="control-label"></label>
                <select asp-for="RoleAccount" class="form-control" asp-items="ViewBag.RoleAccount"></select>
                <span asp-validation-for="RoleAccount" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GiangVien">Back to List</a>
</div>

