@{
    ViewData["Title"] = "Download";
}

<h2>Download</h2>
<p> Nhấn vào đường link phía dưới để tải về PHẦN MỀM ĐĂNG KÝ MÔN HỌC </p>
<a class="btn btn-primary" asp-action="DownloadSetup">Download Setup</a>
