@{
    ViewData["Title"] = "Home Page";
}

<div class="content text-center">
    <h1>Home page công nghiệp</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
