@{
    ViewData["Title"] = "Thông tin lớp học";
}

<div class="text-center">
    <h1>THÔNG TIN LỚP HỌC</h1>
</div>

<div class="container-fluid">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item rounded-3 border-0 shadow mb-2">
            <h2 class="accordion-header">
            <button class="accordion-button border-bottom collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Bootstrap Accordion #1 <!-- Chổ hiển thị tên Lớp học -->
            </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"> <!-- Chổ hiển thị họ tên sinh viên trong lớp -->
                <p>Please check our more latest Design <a href="https://codepen.io/Gaurav-Rana-the-reactor">Codepen</a></p>
            </div>
            </div>
        </div>

        <div class="accordion-item rounded-3 border-0 shadow mb-2">
            <h2 class="accordion-header">
            <button class="accordion-button border-bottom collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Bootstrap Accordion #2
            </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p>Please check our more latest Design <a href="https://codepen.io/Gaurav-Rana-the-reactor">Codepen</a></p>
            </div>
            </div>
        </div>

        <div class="accordion-item rounded-3 border-0 mb-2 shadow">
            <h2 class="accordion-header">
            <button class="accordion-button border-bottom collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Bootstrap Accordion #3
            </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p>Please check our more latest Design <a href="https://codepen.io/Gaurav-Rana-the-reactor">Codepen</a></p>
            </div>
            </div>
        </div>

        <div class="accordion-item rounded-3 border-0 mb-2 shadow">
            <h2 class="accordion-header">
                <button class="accordion-button border-bottom collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Bootstrap Accordion #4
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>Please check our more latest Design <a href="https://codepen.io/Gaurav-Rana-the-reactor">Codepen</a></p>
                </div>
            </div>
        </div>

        <div class="accordion-item rounded-3 border-0 mb-2 shadow">
            <h2 class="accordion-header">
                <button class="accordion-button border-bottom collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    Bootstrap Accordion #5
                </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>Please check our more latest Design <a href="https://codepen.io/Gaurav-Rana-the-reactor">Codepen</a></p>
                </div>
            </div>
        </div>
    </div>
</div>