@{
    ViewData["Title"] = "Giới thiệu Trường Đại học Bình Dương";
}

<div class="Content">
	<div class="container-lg">
		<div class="Gioithieu" id="slide-main">
			<section class="py-5">
				<div class="container-lg">
					<div class="row">
						<div class="col-lg-8 offset-lg-2" id="about_us" data-aos="fade-up" data-aos-duration="3000">
							<h1 class="display-4 text-center mb-4">Giới thiệu</h1>
							<img src="/images/logo.png" class="img-fluid rounded-circle mx-auto d-block mb-4">
							<p class="lead text-center">Lorem ipsum dolor sit amet</p>
							<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique arcu quis euismod ultrices. Sed interdum eros eu dui interdum luctus. Vivamus in lectus aliquam, suscipit nisi id, aliquam sapien. Praesent et varius elit. Nunc non feugiat velit.</p>
							<p class="text-center">Phasellus vitae pellentesque risus. Integer euismod elit in ligula tempus, eget consectetur nisl pharetra. Sed vitae mauris euismod, vestibulum arcu vel, interdum elit.</p>
						</div>
					</div>
				</div>
			</section>

			<div class="image-container" data-aos="fade-left" data-aos-duration="2000">
				<img src="/images/intro.jpg" class="img-fluid mx-auto d-block mb-4" alt="My Profile Picture">
				<div class="image-overlay" id="page1">
@* 					<h2 class="text-center overlay-text">NHÃN HÀNG</h2>
 *@					<p class="text-center overlay-text"></p>
				</div>
			</div>

			<div class="image-container" data-aos="fade-right" data-aos-duration="2000">
				<img src="/images/intro2.jpg" class="img-fluid mx-auto d-block mb-4" alt="My Profile Picture">
				<div class="image-overlay" id="page2">
@* 					<h2 class="text-center overlay-text">TẦM NHÌN</h2>
 *@					<p class="text-center overlay-text"></p>
				</div>
			</div>

			<div class="image-container" data-aos="fade-left" data-aos-duration="2000">
				<img src="/images/intro3.jpg" class="img-fluid mx-auto d-block mb-4" alt="My Profile Picture">
				<div class="image-overlay" id="page3">
@* 					<h2 class="text-center overlay-text">GIÁ TRỊ</h2>
 *@					<p class="text-center overlay-text"> </p>
				</div>
			</div>

			<div class="image-container" data-aos="fade-right" data-aos-duration="2000">
				<img src="/images/intro4.jpg" class="img-fluid mx-auto d-block mb-4" alt="My Profile Picture">
				<div class="image-overlay" id="page3">
@* 					<h2 class="text-center overlay-text">GIÁ TRỊ</h2>
 *@					<p class="text-center overlay-text"></p>
				</div>
			</div>

@* 			<div class="image-container" data-aos="fade-right" data-aos-duration="2000">
				<img src="/images/intro4.jpg" class="img-fluid mx-auto d-block mb-4" alt="My Profile Picture">
				<div class="image-overlay" id="page3">
					<h2 class="text-center overlay-text">GIÁ TRỊ</h2>
 					<p class="text-center overlay-text"></p>
				</div>
			</div> *@

		</div>

		<script>
			AOS.init();
		</script>
	</div>
</div>
