<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuanLyDangKyHocPhanSV</title>

    <link href="/aos-master/dist/aos.css" rel="stylesheet">
    <script src="/aos-master/dist/aos.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuanLyDangKyHocPhanSV.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light"> <!-- header -->
            <div class="container-fluid" id="menu">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/images/logo.png" class="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse nav" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="TaiKhoan" asp-action="ThongTinTaiKhoan">Tài Khoản</a>
                        </li>


                        @if (Context.Request.Cookies["IsLoggedIn"] == "true")
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="QuanLyMonHoc" asp-action="MonHoc">Môn học</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Quản lý Môn Học
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-controller="QuanLyMonHoc" asp-action="ThemMonHoc">Thêm môn học</a></li>
                                    <li><a class="dropdown-item" asp-controller="QuanLyMonHoc" asp-action="ListDangKyMonHoc">Danh sách sinh viên đăng ký môn</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTaiKhoan" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Quản lý tài khoản
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownTaiKhoan">
                                    <li><a class="dropdown-item" asp-controller="QuanLyTaiKhoan" asp-action="SinhVien">Sinh viên</a></li>
                                    <li><a class="dropdown-item" asp-controller="QuanLyTaiKhoan" asp-action="GiangVien">Giảng viên</a></li>
                                    <li><a class="dropdown-item" asp-controller="QuanLyTaiKhoan" asp-action="GiaoVu">Giáo vụ</a></li>
                                </ul>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Giới thiệu</a>
                        </li>
                    </ul>

                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <main role="main" class="pb-">
            @RenderBody()
        </main>
    </div>



     <!-- footer -->
     <footer>
        <div class="Footer container-fluid" id="footer">
            <div class="row">
                <div class="col" id="about us">
                    <h4>Giới thiệu</h4>
                    <ul>
                        <li>
                            <a href="#">
                                Trường Đại học Bình Dương
                            </a>
                        </li>
                        <li><a href="#">Số 504, Đại Lộ Bình Dương, Hiệp Thành, Thủ Dầu Một, Bình Dương</a></li>
                        <li><a href="#">Website: www.bdu.edu.vn</a></li>
                    </ul>
                </div>

                <div class="col" id="get helps">
                    <h4>THỐNG KÊ TRUY CẬP</h4>
                    <ul>
                        <p>Đang truy cập: </p>
                        <p>SV đăng nhập: </p>
                        <p>GV đăng nhập: </p>
                    </ul>
                </div>

            
                <p class="text-licence text-center">2024 © Bản quyền thuộc bởi K</p>
           
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
