@{
    ViewData["Title"] = "Quản Lý Sinh Viên";
    Layout = "_Layout";
}

<div class="content text-center bg-light">
    <h1>QUẢN LÝ TÀI KHOẢN SINH VIÊN</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<!-- Nội dung quản lý sinh viên -->
