@{
    ViewData["Title"] = "Thêm Môn Học";
    Layout = "_Layout";
}

<div class="content text-center bg-warning">
    <h1>THÊM MÔN HỌC</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form>
    <!-- Form để thêm môn học -->
</form>
