@{
    ViewData["Title"] = "Thêm Môn Học";
    Layout = "_Layout";
}

<style>
    .text-custom-white {
        color: white;
    }

    .wide-input {
        width: 100%;
    }
</style>

<div class="content text-center bg-warning text-custom-white">
    <h1>THÊM MÔN HỌC</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core" class="text-custom-white">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container mt-4">
    <form action="/MonHoc/Add" method="post" class="form-horizontal">
        <div class="form-group row">
            <label for="MaMH" class="col-sm-4 col-form-label text-custom-white">Mã MH:</label>
            <div class="col-sm-8">
                <input type="text" id="MaMH" name="MaMH" maxlength="7" class="form-control wide-input" required>
            </div>
        </div><br />
        <div class="form-group row">
            <label for="TenMH" class="col-sm-4 col-form-label text-custom-white">Tên MH:</label>
            <div class="col-sm-8">
                <input type="text" id="TenMH" name="TenMH" maxlength="120" class="form-control wide-input" required>
            </div>
        </div><br />
        <div class="form-group row">
            <label for="SoTiet" class="col-sm-4 col-form-label text-custom-white">Số Tiết:</label>
            <div class="col-sm-8">
                <input type="number" id="SoTiet" name="SoTiet" class="form-control wide-input" min="1" required>
            </div>
        </div><br />
        <div class="form-group row">
            <label for="SoTinChi" class="col-sm-4 col-form-label text-custom-white">Số Tín Chỉ:</label>
            <div class="col-sm-8">
                <input type="number" id="SoTinChi" name="SoTinChi" class="form-control wide-input" min="1" required>
            </div>
        </div><br />
        <div class="form-group row">
            <label for="ThoiKhoaBieu" class="col-sm-4 col-form-label text-custom-white">Thời Khóa Biểu:</label>
            <div class="col-sm-8">
                <textarea id="ThoiKhoaBieu" name="ThoiKhoaBieu" maxlength="300" class="form-control wide-input" rows="4" required></textarea>
            </div>
        </div><br />
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <input type="submit" value="Thêm Môn Học" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
